In [1]:
import db
import os
import pandas as pd

In [2]:
host = 'sisdb-test.eis.siu.edu'
service = 'DEV.eis.siu.edu'
user = input("Enter Username")
pw = input("Enter Pass")
# or use an environmental variable...
# pw = os.getenv('oracle_pw')

In [3]:
engine = db.connect_oracle(host_name=host, service_name = service, username= user, password=pw)

oracle+oracledb://baninst1:SISTestPassw0rd!@sisdb-test.eis.siu.edu:1521/?service_name=DEV.eis.siu.edu

In [5]:
query = 'SELECT * FROM SPRIDEN FETCH FIRST 10 ROWS ONLY'
#test query
test_df = pd.read_sql_query(query, engine)

test_df
#print(test_df)

,spriden_pidm,spriden_id,spriden_last_name,spriden_first_name,spriden_mi,spriden_change_ind,spriden_entity_ind,spriden_activity_date,spriden_user,spriden_origin,...,spriden_ntyp_code,spriden_create_user,spriden_create_date,spriden_data_origin,spriden_create_fdmn_code,spriden_surname_prefix,spriden_surrogate_id,spriden_version,spriden_user_id,spriden_vpdi_code
0,30000,850000000,Admin,UDC_WTailor,None,None,P,2007-05-23 13:44:00,MRICHERS,GOAMTCH,...,None,MRICHERS,2007-05-23 13:44:01,Banner,None,None,2511670,0,None,None
1,30501,850149856,Walters,Guindoline,Neely,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511678,0,None,None
2,30502,850416030,Neiswinger,William,Dellose,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511686,0,None,None
3,30503,850190957,Nelson,Lotye,Deloris,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511694,0,None,None
4,30504,850410639,Nesbitt,Willey,Edward,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511702,0,None,None
5,30505,850367558,Nettland,Ralph,Lester,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511710,0,None,None
6,30506,850373041,Nettleton,Quincy,Albert,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511718,0,None,None
7,30507,850179222,Newlon,Maurice,Edward,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511726,0,None,None
8,30508,850356316,Newman,Donald,Lee,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511734,0,None,None
9,30509,850219903,Newton,William,Lawrence,None,P,2008-05-19 03:45:28,SCTCVTSIS,CONVERSION,...,None,CONVERT6,2008-05-19 03:45:28,CONVERSION,None,None,2511742,0,None,None